<h2><%= @passenger.name %>'s Homepage</h2>

<section id="flights">
  <% @passenger.flights.each do |flight| %>
    <p><%= link_to flight.number , "/flights/#{flight.id}"%></p>
  <% end %>
</section>


<section id="add-flight">
  <%= form_tag "/passengers/#{@passenger.id}/flights", method: :create do %>
    <%= label_tag :number, 'Flight Number' %>
    <%= text_field_tag :number %>

    <%= label_tag :date, 'Date' %>
    <%= text_field_tag :date %>

    <%= label_tag :departure_city, 'Departure City' %>
    <%= number_field_tag :departure_city %>

    <%= label_tag :arrival_city, 'Arrival City' %>
    <%= number_field_tag :arrival_city %>

    <%= label_tag :time, 'Flight Time' %>
    <%= number_field_tag :time %>

    <%= submit_tag 'Add Flight' %>
  <% end %>
</section>
